.link{
    
    color: black;

}

body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
/* Make the nav take up the whole body width, and give it some top and bottom margin space */
nav {
  width: 100%;
  margin: 20px 0; }
/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%; }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}